.logo {
  width: 150px;
}

.header {
  padding: 30px 16px 0 16px;
  display: flex;
  align-items: center;
  z-index: 1000;
  /* background-color: red; */
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobile-flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content-mobile {
  top: 0;
  padding: 90px 5%;
}

.uil-bars {
  font-size: 32px;
  color: var(--g4);
}

a.uil-bars {
  text-decoration: none; /* il me fait chier ce ptn de lien */
}

.heading-1 {
  padding: 0;
  margin: 0;
}

p {
  margin-top: 25px;
}

h2.heading-3 {
  font-weight: 500;
}

.contenu {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ingredients {
  display: flex;
  flex-direction: column;
  margin: 70px 50px 70px 50px;
}

.ingredients > div{
  margin: 7px;
  align-items: center;
}

.uil-angle-right, .uil-angle-left {
  font-size: 62px;
  color: var(--g5);
}
