.heading-1 {
  padding: 0;
}

.container {
  background: var(--g1);
  border-radius: 15px;
  margin-top: 20px;
}

.list {
  background-color: #ffffff;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px;
}

.discuss {
  background-color: #ffffff;
}

.tabs ul {
  list-style: none;
  padding: 10px 0;
  display: flex;
  justify-content: center;

}

.top-col {
  grid-column: 2/2;
  grid-row: 1/1;
  display: flex;
  align-items: center;
}

.left-col{
  grid-column: 1/1;
  grid-row: 1/2;
}

.middle-col {
  text-align: center;
  grid-column: 2/2;
  grid-row: 2/2;

}

.right-col {
  grid-column: 3/3;
  grid-row: 2/2;
}

.middle-col .btn-prim {
  display: inline-block;
  margin: 15px;
}

.plat {
  display: inline;
  margin-bottom: 20px ;
}

.uil-receipt-alt {
font-size: 24px;
margin-right: 25px;
}

.uil-times-circle {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.message-feed {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  height: 80%;
}

.profil-picture {
  border-radius: 50%;
  height: 38px;
  min-width: 38px;
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position: 50% center;
}

.message {
  display: flex;
  align-items: center;
  max-width: 350px;
  margin-bottom: 24px;
}

.message-text {
  background-color: var(--g1);
  border-radius: 15px;
  padding: 10px;
  margin-left: 20px;
}

.line-up {
  width: 1px;
  height: 24px;
  background-color: var(--g3);
}

.message-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 20px;
  width: auto;
}

.uil-plus {
  cursor: pointer;
}


.uil-image {
  cursor: pointer;
}

.uil-plus-circle:hover {
  cursor: pointer;
  color: var(--blue-sec);
}


.pp {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position: 20% center;
}

.ingr-list li{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}


.pbi {
  display: flex;

}

.material-list li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-none {
  display: none;
}

.active {
  color: var(--blue-prim);
}

.tab-link {
  list-style: none;
  display: block;
  padding: 20px 0;
}

.tab-link li {
  display: inline-block;
  padding: 0 20px;
}

.tab-link li a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.tab-link li a:hover {
  color: var(--blue-sec);
}
