.heading-1 {
  padding: 0;
}

.container {
  background: var(--g1);
  border-radius: 15px;
}

.list {
  background-color: #ffffff;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px;
}

.discuss {
  background-color: #ffffff;
}

.tabs ul {
  list-style: none;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.top-col {
  grid-column: 2/2;
  grid-row: 1/1;
  display: flex;
  align-items: center;
}

.left-col{
  grid-column: 1/1;
  grid-row: 1/2;
}

.middle-col {
  text-align: center;
  grid-column: 2/2;
  grid-row: 2/2;

}

.right-col {
  grid-column: 3/3;
  grid-row: 2/2;
}

.middle-col .btn-prim {
  display: inline-block;
  margin-top: 15px;
}

.plat {
  display: inline;
  margin-bottom: 20px ;
}

.uil-receipt-alt {
font-size: 24px;
margin-right: 25px;
}

.uil-times-circle {
  font-size: 24px;
  margin-left: 10px;
}
