.action-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  font-size: 45px;

}

.action-list a {
  text-decoration: none;
  color: var(--g2);
}

a.act-act {
  color: var(--blue-prim);
}

.banniere{
  height: 365px;
  overflow: hidden;
  margin-bottom: 50px
}

.banniere img{
  width: 100%;
  height: auto;
}

.heading-1 {
  margin-top: 50px;
}

.food-list {
  display: flex;
  flex-direction: column;
}
