/*Variables*/

:root {

  /*Couleur*/

  --blue-prim : #029F98;
  --blue-sec : #5CE3C5;
  --red-prim : #F3444E;
  --red-sec : #FF6B62;

  /*Gris*/

  --g1 : #F2F3F3;
  --g2 : #BFC3C3;
  --g3 : #8C9393;
  --g4 : #596363;
  --g5 : #263433;
  --g6 : #00100F;
}

.blue-prim {
  color: var(--blue-prim);
}
.blue-sec {
  color: var(--blue-sec);
}
.red-prim {
  color: var(--red-prim);
}
.red-sec {
  color: var(--red-sec);
}

.g6 {
  color: var(--g6);
}
.g5 {
  color: var(--g5);
}
.g4 {
  color: var(--g4);
}
.g3 {
  color: var(--g3);
}
.g2 {
  color: var(--g2);
}
.g1 {
  color: var(--g1);
}
/* //////////////////////////////////////////////////////////////////////////////////// */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif;
  color: var(--g6);
  /* min-width: 300px; */
}

.content {
  padding: 70px 10% 0 10%;
}

/* .content-mobile {
  padding: 25% 16px 0 16px;
} */
/* //////////////////////////////////////////////////////////////////////////////////// */

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  font-family: 'Poppins', sans-serif;
}

.heading-1 {
  font-weight: 800;
  font-size: 29px;
  padding: 50px 0;
}

.heading-2 {
  font-weight: 700;
  font-size: 24px;
}

.heading-3 {
  font-weight: 600;
  font-size: 20px;
}

.heading-4 {
  font-weight: 500;
  font-size: 17px;
}

.heading-5 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.heading-6 {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.text-small {
  font-weight: 300;
  font-size: 12px;
}

.text-regular {
  font-weight: 400;
  font-size: 14px;
}

.text-large {
  font-weight: 400;
  font-size: 17px;
}

.center {
  text-align: center;
}

span {
  font-weight: 700;
  color: var(--red-sec);
}

.ul {
  padding: 10px 0 0 20px;
}

/* Colones */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.grid-1-2{
  grid-template-columns: 6fr 6fr;
}

.grid-1-4{
  grid-template-columns: repeat(4, 3fr);
}

.grid-7-12{
  grid-template-columns: 7fr 5fr;
}

.grid-2-4-5{
  grid-template-columns: 2fr 4fr 5fr;
  grid-template-rows: 64px auto;
  grid-row-gap: 0;
}

.grid-1-5-5-1{
  grid-template-columns: 1fr 5fr 5fr 1fr;
}

.img-flex {
  height: auto;
  max-width: 100%;
}

.picto-24 {
  font-size: 24px;
}

/* //////////////////////////////////////////////////////////////////////////////////// */


/* Boutons */

.btn-prim {
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: var(--blue-prim);
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
  height: 41px;
}

.btn-prim:hover{
  background-color: var(--blue-sec);
}

.btn-sec {
  color: var(--blue-prim);
  transition-duration: 0.3s;
}

.btn-sec:hover{
  color:var(--blue-sec);
}

/* ////////////////////////////////////////////////////////////////////////////////////////  */



/* Header */

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  background-color: white;
  position: fixed;
  top: 0;
}

.uil-user{
  font-size: 34px;
}

.uil-times-circle:hover {
  color: var(--red-prim);
}

.profile {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 25px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.profile:hover {
  color: var(--blue-sec);
}

/* ////////////////////////////////////////////////////////////////////////////////////////  */



/* Header smartphone */

.header-mobile {

}

/* //////////////////////////////////////////////////////////////////////////////////// */

/* Logo */

.logo {
  cursor: pointer;
  width: 170px;
}

/* ///////////////////////////////////////////////////////////////////////////////////// */

/* Onglets */

.nav {
  border-bottom: 2px var(--blue-prim) solid;
}

.nav-link {
  list-style: none;
  display: block;
  padding: 20px 0;
}

.nav-link li {
  display: inline-block;
  padding: 0 20px;
}

.nav-link li a {
  color: var(--g6);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
  color: var(--blue-sec);
}

/* //////////////////////////////////////////////////////////////////////////////// */

/* Labels */
.label-defaut {
  height: 40px;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  background-color: var(--g1);
  color: var(--g5);
  display: inline;
  text-align: center;

  /*font-weight: 500;*/
  /* font-size: 17px; */

}

.label-number {
  height: 40px;
  width: auto;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  background-color: var(--g1);
  display: block;
  text-align: center;
}




/* /////////////////////////////////////////////////////////////////////////////////////// */

/* Progression points */
.progresspoint {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
}

.point{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
  background: var(--g1);
  cursor: pointer;
}

.point-active{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
  background: var(--blue-sec);
}

/* ///////////////////////////////////////////////////////////////////////////////////// */

/* Selection (up-down) */
.num-select {
  border: none;
  border-bottom: 1px solid var(--g4);
  width: 55px;
  height: 30px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.num-select:active{
border-color: var(--blue-prim);
}

/* //////////////////////////////////////////////////////////////////////////////////// */

/* Notation etoiles */

.uil-star {
  color: var(--g3);
  font-size: 20px;
}

.uis-star{
  font-size: 20px;
}

.blues {
  color: var(--blue-sec);
}

.rating{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  line-height: 100%;
}

.stars{
  display: flex;
  align-items: center;
    align-content: center;
  font-size: 3em;
}

.score{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.number-1 {
  color: var(--blue-sec);
}

.number-2{
  color: var(--g3);
}

.comment {
  display: flex;
  align-items: center;
  color: var(--g5);
  margin-left: 10px;
}

/* //////////////////////////////////////////////////////////////////////////////////// */

/* Infos titre (recette) */


/* //////////////////////////////////////////////////////////////////////////////////// */

/* options de partage */

.partage{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.4s;
}

.uil-plus{
  color: var(--blue-prim);
  font-size: 24px;
}

.uil-plus:hover{
  color: var(--blue-sec);
}

.uil-image{
  color: var(--blue-prim);
  font-size: 24px;
}

.uil-image:hover{
  color: var(--blue-sec);
}

.uil-share{
  color: var(--blue-prim);
  font-size: 24px;
}

.uil-share:hover{
  color: var(--blue-sec);
}



/* //////////////////////////////////////////////////////////////////////////////////// */

/* cartes choix taches */
/* .choice-card{
  width: 164px;
}

.cc-title {
  font-weight: bold;
  text-align: center;
  padding: 13px 11px 9px 11px;
}

.cc-action{
  text-transform: uppercase;
  font-size: 10px;

  margin: 5px 0 0 16px;

}

.cc-bg {
  background: var(--g1);
  border-radius: 6px 6px 0 0;
  height: 172px;
  position: relative;
}

.cc-bott {
  background: var(--g2);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  border-radius: 0 0 6px 6px;
  padding: 8px 6px 8px 6px;
  height: 30px;
}


.choisie .cc-title{
  color: var(--red-sec);
}

.choisie .cc-bott {
  background: var(--red-sec);
} */

/* //////////////////////////////////////////////////////////////////////////////////// */

/* progression bar */

.progress-bar{
background: var(--blue-sec);
border: 1px var(--g1) solid;
border-radius: 10px;
width: 150px;
height: 12px;
box-shadow: inset -50px 0 0 var(--g1);
margin: 0 10px 0 10px;
}

/* .ingr-pb {
width: 300px;
} */
.quantity{
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
  margin-top: -15px;
}

/* //////////////////////////////////////////////////////////////////////////////////// */

/* liste discussion */
.discussion-list-marie{
  background: var(--blue-prim);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  /* height: 80px; */
  padding: 19px 27px 19px 27px;
  border-radius: 9px 0 0 0;
}

.discussion-list-marie .uil-comment-message{
  color: white;
}

.discussion-list-marie .mess-num{
  color: white;
}

.discussion-list {
  background: var(--g1);
  color: var(--g6)
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  /* height: 80px; */
  padding: 19px 27px 19px 27px;
  border-bottom: 1px solid white;
}

.pp-block{
  display: flex;
  margin-top: 16px;
}

.uil-comment-message {
  color: var(--g6);
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-left: 22px;
}

.mess-num {
  color: var(--g6);
  display: flex;
  align-items: flex-end;
}

.discussion-list-bottom {
  background: var(--g1);
  color: var(--g6)
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  /* height: 80px; */
  padding: 19px 27px 19px 27px;
  border-radius: 0 0 0 9px;
}

/* //////////////////////////////////////////////////////////////////////////////////// */


/* messages */

/* .message {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.img-contain{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--g5);
  margin-right: 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.msg-placeholder{
  border-radius: 5px;
  border: none;
  background: none;
  padding: 10px;
  height: 40px;
  width: 80%;
}

.msg-placeholder:focus {
  border: none;

}

/* //////////////////////////////////////////////////////////////////////////////////// */


/* icones */

.picto {
  width: 34px;
}
/* //////////////////////////////////////////////////////////////////////////////////// */


/* fil d'ariane */

.ariane {
  margin: 40px 0 5px 0;
  color: var(--g5);
}

.ariane a{
  color: var(--g4);
}
