
body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Poppins', sans-serif;
}

.h1 {
  font-weight: 800;
  font-size: 29.03px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

h4 {
  font-weight: 500;
  font-size: 17px;
}

h5 {
  font-weight: 700;
  font-size: 14px;
}

h6 {
  font-weight: 600;
  font-size: 12px;
}

.small {
  font-weight: 300;
  font-size: 12px;
}

.regular {
  font-weight: 400;
  font-size: 14px;
}

body .large {
  font-weight: 700;
  font-size: 17px;
}


/* Boutons */

.btn-prim{

}

.btn-sec{

}

/* /////////////////////////////// */



/* Header */


/* /////////////////////////////// */



/* Header smartphone */


/* /////////////////////////////// */

/* Logo */


/* /////////////////////////////// */

/* Onglets */


/* /////////////////////////////// */

/* Labels */


/* /////////////////////////////// */

/* Progression points */


/* /////////////////////////////// */

/* Selection (up-down) */


/* /////////////////////////////// */

/* Notation etoiles */


/* /////////////////////////////// */

/* Infos titre (recette) */


/* /////////////////////////////// */

/* options de partage */


/* /////////////////////////////// */

/* cartes choix taches */


/* /////////////////////////////// */

/* progression bar */


/* /////////////////////////////// */

/* liste discussion */


/* /////////////////////////////// */

/* messages */


/* /////////////////////////////// */

/* icones */


/* /////////////////////////////// */
