
.heading-1 {
  padding: 0;
  margin-bottom: 9px;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 0;
}

.poulet {
  border-radius: 10px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
}

.gallery img{
  border-radius: 4px;
}

.propose-flex {
  display: flex;
  justify-content:flex-end;
}

.partage2 {
  padding-left: 35px;
}
