/*Variables*/

:root {

  /*Couleur*/

  --blue-prim : #029F98;
  --blue-sec : #5CE3C5;
  --red-prim : #F3444E;
  --red-sec : #FF6B62;

  /*Gris*/

  --g1 : #F2F3F3;
  --g2 : #BFC3C3;
  --g3 : #8C9393;
  --g4 : #596363;
  --g5 : #263433;
  --g6 : #00100F;
}

/* /////////////////////////////// */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--g6);
}

.content {
  padding: 0 10%;
}

/* /////////////////////////////// */

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  font-family: 'Poppins', sans-serif;
}

.heading-1 {
  font-weight: 800;
  font-size: 29px;
}

.heading-2 {
  font-weight: 700;
  font-size: 24px;
}

.heading-3 {
  font-weight: 600;
  font-size: 20px;
}

.heading-4 {
  font-weight: 600;
  font-size: 17px;
}

.heading-5 {
  font-weight: 700;
  font-size: 14px;
}

.heading-6 {
  font-weight: 600;
  font-size: 12px;
}

.text-small {
  font-weight: 300;
  font-size: 12px;
}

.text-regular {
  font-weight: 400;
  font-size: 14px;
}

.text-large {
  font-weight: 700;
  font-size: 17px;
}


/* Boutons */

.btn-prim {
  height: 45px;
  width: 150px;
  border-radius: 10px;
  border: none;
  background-color: var(--blue-prim);
  color: white;
}



.btn-sec {
  color: var(--blue-prim);
}

.btn-sec:hover{
  color:var(--blue-sec);
}

/* /////////////////////////////// */



/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

a .profile {
}

.profile {
  text-decoration: none;
  display: flex;
  padding: 9px 25px;
}

.profile button{
  background-color: white;
  border: none;

}

/* /////////////////////////////// */



/* Header smartphone */

.header-mobile {

}

/* /////////////////////////////// */

/* Logo */

.logo {
  cursor: pointer;
}

/* /////////////////////////////// */

/* Onglets */

.nav-link {
  list-style: none;
}

.nav-link li {
  display: inline-block;
  padding: 0 20px;
}

.nav-link li a {
  color: var(--g6);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
  color: var(--blue-sec);
}

/* /////////////////////////////// */

/* Labels */
.label-defaut {

}

.label-number {

}

/* /////////////////////////////// */

/* Progression points */
.progresspoint {

}


.progresspoint:default {

}

.progresspoint:checked {


}

/* /////////////////////////////// */

/* Selection (up-down) */
.selection {

}

/* /////////////////////////////// */

/* Notation etoiles */
.star {

}

.score {

}

.comment {

}

/* /////////////////////////////// */

/* Infos titre (recette) */


/* /////////////////////////////// */

/* options de partage */

.share {

}

/* /////////////////////////////// */

/* cartes choix taches */


/* /////////////////////////////// */

/* progression bar */



/* /////////////////////////////// */

/* liste discussion */

.discussion-list {

}
/* /////////////////////////////// */


/* messages */

.message {

}


/* /////////////////////////////// */


/* icones */

.picto {
  width: 34px;
}

.blue-prim {
  filter: invert(36%) sepia(91%) saturate(1578%) hue-rotate(151deg) brightness(94%) contrast(98%);;
}

.blue-sec {
  filter: invert(87%) sepia(71%) saturate(449%) hue-rotate(82deg) brightness(106%) contrast(78%);
}

/* /////////////////////////////// */
