
.heading-1 {
  padding: 0;
  margin-bottom: 9px;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 0;
}

.poulet {
  border-radius: 10px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
}

.gallery img{
  border-radius: 4px;
}

.propose-flex {
  display: flex;
  justify-content:flex-end;
  margin-bottom: 30px;
}

.partage2 {
  padding-left: 35px;
}

.quantity {
  display: flex;
  justify-content:center;
  margin: 19px 132px 16px 132px;
  padding-bottom: 16px;
  border-bottom: 2px var(--blue-prim) solid;
}

.portions {
  padding-left: 15px;
}

.ingr {
  margin-bottom: 24px;
}

.legume {
  padding-left: 0px;
  margin-bottom: 14px;
}

.label-number {
  display: inline-block;
}

.label-number1 {
  margin-bottom: 79px;
}

.label-number2 {
  margin-left: 15px;
  margin-bottom: 22px;
}

.label-number4 {
  margin-top: 17px;
  margin-bottom: 22px;
}

.label2 {
  margin-left: 15px;
}
