
.heading-1 {
  padding: 0;
  margin-bottom: 9px;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 0;
}

.poulet {
  border-radius: 10px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
}

.gallery img{
  border-radius: 4px;
}

.propose-flex {
  display: flex;
  justify-content:flex-end;
  margin-bottom: 30px;
}

.partage2 {
  padding-left: 35px;
}

.quantity {
  display: flex;
  justify-content:center;
  margin: 19px 132px 16px 132px;
  padding-bottom: 16px;
  border-bottom: 2px var(--blue-prim) solid;
}

.portions {
  padding-left: 15px;
}

.ingr {
  margin-bottom: 24px;
}

.legume {
  padding-left: 0px;
  margin-bottom: 14px;
}

.label-number {
  display: inline-block;
}

.label-number1 {
  margin-bottom: 22px;
}

.label-number2 {
  margin-left: 15px;
  margin-bottom: 22px;
}

.label-number4 {
  margin-top: 17px;
  margin-bottom: 22px;
}

.label2 {
  margin-left: 15px;
}

.prepare {
  margin-top: 63px;
  margin-bottom: 7px;
}

.materiel {
  margin-top: 31px;
  text-decoration-line: underline;
}

.card-materiel-flex {
  display: flex;
  margin-top: 44px;
  margin-bottom: 80px;
}

.card-materiel {
  background: #FFFFFF;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 45px 30px 0;
  display: inline-grid;
  justify-items: center;
  width: 156px;
  height: 156px;
}

.card-materiel img {
  margin-top: 15px;
}

img.poele {
  margin-top: 1px;
}

.laver {
  margin-top: 33px;
  margin-bottom: 12px;
}

.etape {
  margin-bottom: 15px;
}

.etape2 {
  margin-top: 50px;
  margin-bottom: 15px;
}

.tag {
  margin-right: 50px;
}
